laboratory_work_1/BeketovEV/data/t10k-images-idx3-ubyte
laboratory_work_1/BeketovEV/data/t10k-labels-idx1-ubyte
laboratory_work_1/BeketovEV/data/train-images-idx3-ubyte
laboratory_work_1/BeketovEV/data/train-labels-idx1-ubyte
laboratory_work_2/BeketovEV/lab2.ipynb
